body 
{
	margin: 0px;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}
canvas{
	z-index: 1000;
	
}
.score-card {
    position: fixed;
    top: 0.5rem;
    left: 50%;
    padding: 5px 10px;
    background : transparent;
    overflow: hidden;
    margin-left: -165px;
}
.timer-card{
	float : left;
	width: 120px;
    margin: 0px -10px 0px 0px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    text-align: center;
    bottom: 0px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.2);
    color : #F0EAEA;

}
.left-card {
    float: left;
    width: 80px;
    margin: 0px -10px 0px 0px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    text-align: center;
    bottom: 0px;
    font-size: 16px;

    -ms-transform: skew(20deg,0deg);
    -webkit-transform: skew(20deg,0deg);
    transform: skew(20deg,0deg);
    z-index: 1001;
    position: relative;
    
	background-image: -ms-linear-gradient(top left, #1D0061 0%, #55BAD4 100%);
    background-image: -moz-linear-gradient(top left, #1D0061 0%, #55BAD4 100%);
	background-image: -o-linear-gradient(top left, #1D0061 0%, #55BAD4 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #1D0061), color-stop(1, #55BAD4));
	background-image: -webkit-linear-gradient(top left, #1D0061 0%, #55BAD4 100%);
	background-image: linear-gradient(to bottom right, #1D0061 0%, #55BAD4 100%);

	-webkit-box-shadow: -2px -1px 5px 0px rgba(31,31,31,1);
	-moz-box-shadow: -2px -1px 5px 0px rgba(31,31,31,1);
	box-shadow: -2px -1px 5px 0px rgba(31,31,31,1);

	color : #F0EAEA;
}

.middle-card{
    float: left;
    border-radius: 2px;
    bottom: 0px;
    width: 80px;
    padding: 0px 5px;
    line-height: 30px;
    height: 40px;
    z-index: 1002;
    position: relative;
    bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid lightgray;

	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #DBDBDB 100%);

	-ms-transform: perspective(100px) rotateX(-20deg);
    -webkit-transform: perspective(100px) rotateX(-20deg);
    transform: perspective(100px) rotateX(-20deg);


}
.right-card{
    float: left;
    width: 80px;
    margin: 0px 0px 0px -10px;
    height: 30px;
    border-radius: 6px;
    line-height: 30px;
    text-align: center;
    bottom: 0px;
    font-size: 16px;
    position: relative;
    z-index: 1001;
    color : #F0EAEA;

    -ms-transform: skew(-20deg,0deg);
    -webkit-transform: skew(-20deg,0deg);
    transform: skew(-20deg,0deg);
    
	background-image: -ms-linear-gradient(top right, #1D0061 0%, #55BAD4 100%);
	background-image: -moz-linear-gradient(top right, #1D0061 0%, #55BAD4 100%);
	background-image: -o-linear-gradient(top right, #1D0061 0%, #55BAD4 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #1D0061), color-stop(1, #55BAD4));
	background-image: -webkit-linear-gradient(top right, #1D0061 0%, #55BAD4 100%);
	background-image: linear-gradient(to bottom left, #1D0061 0%, #55BAD4 100%);

	-webkit-box-shadow: 2px -1px 5px 0px rgba(31,31,31,1);
	-moz-box-shadow: 2px -1px 5px 0px rgba(31,31,31,1);
	box-shadow: 2px -1px 5px 0px rgba(31,31,31,1);

}
.left-card > .card-content{
    -ms-transform: skew(-20deg,0deg);
    -webkit-transform: skew(-20deg,0deg);
    transform: skew(-20deg,0deg);
}
.middle-card > .card-content{
	-ms-transform: perspective(100px) rotateX(20deg);
    -webkit-transform: perspective(100px) rotateX(20deg);
    transform: perspective(100px) rotateX(20deg);
}
.right-card > .card-content{
    -ms-transform: skew(20deg,0deg);
    -webkit-transform: skew(20deg,0deg);
    transform: skew(20deg,0deg);
}
.clear-left {
    clear: left;
}
.loader {
    width: 300px;
    height: 260px;
    position: relative;
    left: 50%;
    margin-left: -150px;
    top: 10rem;
    background-image: url('images/yellow_card.png');
    background-repeat:repeat-y;
    font : 300 30px/1.2 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    text-align: center;
    
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}
.country-select {
    width: 300px;
    height: 260px;
    position: relative;
    left: 50%;
    margin-left: -150px;
    top: 10rem;
    /*
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    */

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;

}
.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.country-select > .bg {
    position: absolute;
    width: 98%;
    height: 98%;
    background-image: url('images/stadium.jpg');
    top: 2px;
    left: 2px;
}
.country-select > .wrapper {

    position: absolute;
    width: 100%;
    height: 100%;

    background-image: -ms-radial-gradient(left bottom, circle farthest-side, rgba(205,207,202, 0.2) 0%, rgba(239,239,239,0.9) 100%);
    background-image: -moz-radial-gradient(left bottom, circle farthest-side, rgba(205,207,202, 0.2) 0%, rgba(239,239,239,0.9) 100%);
    background-image: -o-radial-gradient(left bottom, circle farthest-side, rgba(205,207,202, 0.2) 0%, rgba(239,239,239,0.9) 100%);
    background-image: -webkit-gradient(radial, left bottom, 0, left bottom, 954, color-stop(0, rgba(205,207,202, 0.2)), color-stop(1, rgba(239,239,239,0.9)));
    background-image: -webkit-radial-gradient(left bottom, circle farthest-side, rgba(205,207,202, 0.2) 0%, rgba(239,239,239,0.9) 100%);
    background-image: radial-gradient(circle farthest-side at left bottom, rgba(205,207,202, 0.2) 0%, rgba(239,239,239,0.9) 100%);
}
.country-select > .content{
    font : 300 30px/1.2 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    position: absolute;
    top: 30%;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
}
.country-select >.content > select {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 30px;
    color: white;
}
.country-select > .content > .error {
    font-size: 16px;
    color: red;
}

.country-select > .content > .submit-image {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    opacity: 0.6;

}
.country-select > .content > .submit-image:hover {
    opacity: 1;
    
}

.glass {
    -webkit-filter: blur(3px);
    -moz-filter   : blur(3px);
    -ms-filter    : blur(3px);
    -o-filter     : blur(3px);
    filter        : blur(3px);
}

.hide {
    display: none;
}
.show {
    display: block;
}

.player-cards-container{
    border: 1px solid red;
    width: 650px;
    height: 400px;
    position: relative;
    left: 50%;
    margin-left: -320px;
    top: 10rem;
    
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    
}
.player-card{
    position: relative;
    width: 300px;
    margin: 11px;
    height: 92%;
    float: left;
    border: 1px solid green;
}
.player-card > .left-bend{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 50px solid #eee;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
}
.player-card > .right-bend{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 50px solid #eee;
    border-left: 150px solid transparent;
    border-right: 0px solid transparent;
}

#flag {
  width: 110px;
  height: 56px;
  padding-top: 15px;
  position: relative; 
  background: red;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

